*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
     background-color: #1b1e28;
     
}

.gradient1-calendly{
    position: absolute;
    left: -260px;
    top: 0px;
    height: 100%;
    width: 70%;
    z-index: -100;
}

.gradient2-calendly{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%; 
    width: 70%;
    z-index: -100;
}

.calendly-text h2{
    color:white;
    font-size: 50px;
    font-weight: 700;
}

@media screen and (max-width: 683px) {

    
    .calendly{
        width: 100vw;
        height: 100%;
        background-color: white;
    }
    .calendly-inline-widget {
        min-height: 1050px;
        
    }


    
}
    
    
