

@media screen and (max-width: 683px) {
    nav{
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items:center;
        width: 100%;
        background-color: #272b39;
    }
    nav a{
        text-decoration: none;
        color:#b8becd
    }
    nav ul li a:hover{
        color: white;
        
    }
    nav ul{
        display:flex;
        gap: 15px;
        padding-top: 10px;
    }
    nav ul li{
        list-style-type:none;
        color: #b8becd;
        font-family: DM Sans,sans-serif;
    } 

    body {width: 100%;}
    nav a img{
        width: 100px;
        height: 30px;
    }
    li a{
        font-size: 10px;
    }
    
    
}


@media screen and (min-width: 683px) {
    nav{
        background-color: #272b39;
        display:flex;
        justify-content:space-around;
        align-items:center;
        height:77.14px;
        
        width: 100%;
        position:sticky;
        top:0px;
        column-gap: 500px;
        z-index: 5000;
        
        
    }
    nav a{
        text-decoration: none;
        color:#b8becd
    }
    nav ul li a:hover{
        color: white;
        
    }
    nav ul{
        display:flex;
        gap: 15px;
        padding-top: 10px;
    }
    nav ul li{
        list-style-type:none;
        color: #b8becd;
        font-family: DM Sans,sans-serif;
    }
    .presentation{
        padding-top: 150px;
        row-gap: 40px;
    }  


   
    
}